dictionary

In [2]:
mscdsa=[
{
    "roll no": 23122019,
    "name": "Abhidev",
    "phone":808911882,
    "email":"abhidev@christuniversity.in"
},
{
    "roll no": 23122001,
    "name":"jyosna",
    "phone":822345678,
    "email":"jyosna.p@christuniversity.in"
},
{
    "roll no": 23122001,
    "name":"jyosna",
    "phone":822345678,
    "email":"jyosna.p@christuniversity.in"
 }
 ]

In [3]:
import pandas as pd
df=pd.DataFrame(mscdsa)
df

    roll no     name      phone                         email
0  23122019  Abhidev  808911882   abhidev@christuniversity.in
1  23122001   jyosna  822345678  jyosna.p@christuniversity.in
2  23122001   jyosna  822345678  jyosna.p@christuniversity.in

aim:to make a table out of the above thing

In [2]:
for student in mscdsa[0]:
    print(student,end="\t\t")
print("\n")
    

for student in mscdsa:
    for key in student:
        print(student[key],end="\t")
    print("\n")

roll no		name		phone		email

23122019	Abhidev	808911882	abhidev@christuniversity.in

23122001	jyosna	822345678	jyosna.p@christuniversity.in

23122001	jyosna	822345678	jyosna.p@christuniversity.in